<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <% if(number%2 == 0) { %> 
          <h1>Es par:</h1>
        <ul> <% for(let i = 1; i<=number * 2; i++) { %>
             <li> <%= i %>
          <% } %> </li>
        <% } else{ %>  
          <h1>Es impar:</h1>
        <% for(let i = 1; i<=number; i++) { %>
            <li> <%= i %>
          <% } %> </li>
        </ul>
      <% } %>
    </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Person: <%= ID %></h1>
    <% switch(MSG) { %>
      <% case 'Hola': %>
        <% if(TMS > 0) { %>
          <% for(let i = 1; i<=TMS; i++) { %>
            <h3> <%= MSG %> <%= ID %> </h3>
          }
        }
    }
</body>
</html>